<div class="about">
  <div class="about__title">С «ЭНКИ» удобно</div>

  <div class="about__content">
    <div class="about__content-item">
      Арендный парк площадью более 10 000 м² местоположение Внуково
    </div>

    <div class="about__content-item">
      Персональный менеджер напомнит об окончании периода аренды.
    </div>

    <div class="about__content-item">
      Мы&nbsp;гарантируем 100% лояльность при приёмке возвращаемого оборудования.
    </div>

    <div class="about__content-item">
      Мы&nbsp;ценим долгосрочные отношения с&nbsp;нашими клиентами и&nbsp;всегда ищем способы
      предложить наиболее подходящие условия. В&nbsp;случае, если аренда опалубки окажется
      экономически невыгодной для вашего бюджета, мы&nbsp;предложим вам возможность приобретения
      опалубки с&nbsp;опцией последующего выкупа назад.
    </div>

    <div class="about__content-item">
      Подписав договор аренды опалубки, вы&nbsp;получите в&nbsp;своё распоряжение персонального
      менеджера. Он будет регулярно информировать вас о&nbsp;сроках окончания арендного периода,
      обеспечивая своевременное напоминание и&nbsp;поддержку.
    </div>

    <iframe
      class="about__video"
      frameborder="0"
      src="https://www.youtube.com/embed/gxBkghlglTg?si=YnGF7noTRVZUJLUw"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
