<div class="calculation-formwork">
  <div class="calculation-formwork__title">Расчёт опалубки и комплектующих</div>
  <div class="calculation-formwork__description">
    В компании «Энки» специалисты помогут правильно рассчитать необходимое количество опалубки и
    соответствующих комплектующих для бесперебойной работы на строительном объекте.
  </div>

  <div class="calculation-formwork__subtitle">Как проходит процесс расчёта?</div>
  <div class="calculation-formwork__description">
    Когда речь идёт о необходимости расчёта опалубки и комплектующих, наши специалисты берут на себя
    все необходимые расчёты. Наши технические специалисты используют следующий подход:
  </div>

  <div class="calculation-formwork__advantages">
    <div class="calculation-formwork__advantages-item">
      <img class="calculation-formwork__advantages-icon" src="../img/icons/1.svg" alt="icon" />
      <div class="calculation-formwork__advantages-title">Анализ проектной документации</div>
      <div class="calculation-formwork__advantages-description">
        Изучение предоставленных чертежей и спецификаций для определения областей применения
        опалубки.
      </div>
    </div>

    <div class="calculation-formwork__advantages-item">
      <img class="calculation-formwork__advantages-icon" src="../img/icons/2.svg" alt="icon" />
      <div class="calculation-formwork__advantages-title">Вычисление объёмов и площадей</div>
      <div class="calculation-formwork__advantages-description">
        Расчёт количества опалубки, необходимого для каждого этапа строительства, включая
        перекрытия, стены и другие конструктивные элементы.
      </div>
    </div>

    <div class="calculation-formwork__advantages-item">
      <img class="calculation-formwork__advantages-icon" src="../img/icons/3.svg" alt="icon" />
      <div class="calculation-formwork__advantages-title">Учёт особенностей проекта</div>
      <div class="calculation-formwork__advantages-description">
        При расчётах учитываются все особенности строительного объекта, включая сложность
        конструкций и возможные инженерные ограничения.
      </div>
    </div>

    <div class="calculation-formwork__advantages-item">
      <img class="calculation-formwork__advantages-icon" src="../img/icons/4.svg" alt="icon" />
      <div class="calculation-formwork__advantages-title">Оптимизация затрат</div>
      <div class="calculation-formwork__advantages-description">
        Подбор наиболее экономичных и эффективных решений, которые помогут снизить общие затраты на
        аренду и использование опалубки.
      </div>
    </div>

    <div class="calculation-formwork__advantages-item">
      <img class="calculation-formwork__advantages-icon" src="../img/icons/5.svg" alt="icon" />
      <div class="calculation-formwork__advantages-title">Техническое предложение</div>
      <div class="calculation-formwork__advantages-description">
        Результаты расчётов представляются заказчику в виде технического предложения, которое
        включает подробный список необходимых материалов и оборудования.
      </div>
    </div>

    <div class="calculation-formwork__order">
      <div class="calculation-formwork__order-title">
        Доверьте нам эту рутину и минимизируйте ошибки
      </div>
      <button class="button calculation-formwork__order-button">Заказать расчёт</button>
      <img class="calculation-formwork__order-image" src="../img/calculator.png" alt="calculator" />
    </div>
  </div>
</div>
