<div class="custom-object">
  <div class="custom-object__content">
    <div class="custom-object__title">Нестандартный объект?</div>

    <div class="custom-object__description">
      Возник вопрос? Оставьте заявку и мы найдём для вас решение!
    </div>

    <div class="custom-object__buttons">
      <button class="button">Обратный звонок</button>
      <button class="button button_secondary">Скачать прайс</button>
    </div>
  </div>

  <div class="custom-object__image">
    <img class="custom-object__image--draft" src="../img/draft.png" alt="draft" />
  </div>
  <img class="custom-object__image--helmet" src="../img/helmet.png" alt="helmet" />
</div>
