<div class="delivery">
  <div class="delivery__content">
    <div class="delivery__title">Доставка и самовывоз</div>

    <div class="delivery__description">
      Наш сервис включает как организацию доставки опалубки непосредственно на объект строительства,
      так и возможность самовывоза по предварительной договорённости.
    </div>

    <div class="delivery__steps">
      <div class="delivery__step-item">
        Мы&nbsp;организуем доставку опалубки до&nbsp;строительного объекта в&nbsp;удобное для вас
        время.
      </div>
      <div class="delivery__step-item">
        Опалубка отгружается в соответствии со спецификацией: исправная, очищенная и смазанная.
      </div>
      <div class="delivery__step-item">
        Самовывоз осуществляется со&nbsp;склада на&nbsp;основании паспорта или доверенности.
      </div>
      <div class="delivery__step-item">
        Доставка осуществляется транспортом, который соответствует всем стандартам безопасности.
      </div>
      <div class="delivery__step-item">Услуга разгрузки манипулятором</div>
    </div>

    <img class="delivery__car" src="../img/car.png" alt="car" />
  </div>

  <div class="delivery__payment-options">
    <div class="delivery__crane-container">
      <img class="delivery__crane" src="../img/crane.png" alt="crane" />
    </div>

    <div class="delivery__payment-options-list">
      <div class="delivery__payment-options-title">Варианты оплаты</div>
      <div class="delivery__payment-options-item">Оплата наличными</div>
      <div class="delivery__payment-options-item">Безналичная оплата с НДС</div>
      <div class="delivery__payment-options-item">Безналичная оплата без НДС</div>
    </div>
  </div>
</div>
