<div class="faq">
  <div class="faq__title">Ответы на часто задаваемые вопросы</div>

  <div class="faq__content">
    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Каков минимальный срок аренды?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Когда я могу получить залог?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">
          Если вернуть опалубку ранее минимального срока аренды, вернёте ли деньги?
        </div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">
          Какова ориентировочная стоимость залога при аренде опалубки?
        </div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Eсли я сдаю опалубку раньше срока будет ли перерасчёт?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Какие условия возврата оборудования?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Какие условия продления аренды?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Каковы сроки установки опалубки своими силами?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Что если в ходе возврата выявлена порча опалубки?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Что такое «захватка» в монолитном строительстве?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Как считается аренда после окончания срока аренды?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Могу ли я использовать свой транспорт для доставки?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Предоставляется ли схема расположения опалубки?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Выбор между покупкой и арендой опалубки?</div>

        <img src="../img/arrow.svg" class="faq__item-arrow" alt="" />
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>
  </div>
</div>
