<div class="faq">
  <div class="faq__title">Ответы на часто задаваемые вопросы</div>

  <div class="faq__content">
    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Каков минимальный срок аренды?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Когда я могу получить залог?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">
          Если вернуть опалубку ранее минимального срока аренды, вернёте ли деньги?
        </div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">
          Какова ориентировочная стоимость залога при аренде опалубки?
        </div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Eсли я сдаю опалубку раньше срока будет ли перерасчёт?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Какие условия возврата оборудования?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Какие условия продления аренды?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Каковы сроки установки опалубки своими силами?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Что если в ходе возврата выявлена порча опалубки?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Что такое «захватка» в монолитном строительстве?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Как считается аренда после окончания срока аренды?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Могу ли я использовать свой транспорт для доставки?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Предоставляется ли схема расположения опалубки?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>

    <div class="faq__item">
      <div class="faq__item-control">
        <div class="faq__item-title">Выбор между покупкой и арендой опалубки?</div>

        <div class="faq__arrow-wrapper">
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="faq__item-arrow"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.0903 2.12419L12.2947 2.91969L8.05986 7.15446C7.47406 7.74036 6.52432 7.74036 5.93853 7.15446L1.7037 2.91969L0.908203 2.12419L2.49919 0.533203L3.29469 1.3287L6.99919 5.0332L10.7038 1.3287L11.4992 0.533203L13.0903 2.12419Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </div>

      <div class="faq__item-description">
        В этом случае составляется дефектовочный акт, где фиксируются письменно все дефекты, также
        фиксируем на фото элементы опалубки с повреждениями. Отправляем заказчику акт и фотографии с
        размером возмещения.
      </div>
    </div>
  </div>
</div>
