<div class="banner">
  <div class="banner__content">
    <div class="banner__info">
      <div class="banner__discount">Скидка</div>
      <h1 class="banner__title">На&nbsp;аренду&nbsp;опалубки от 2-х месяцев</h1>
      <p class="banner__description">
        Закажите аренду опалубки сроком от двух месяцев и скидка будет автоматически применена к
        вашему заказу.
      </p>
    </div>
    <div class="banner__image">
      <img class="banner__image--percent" src="../img/10percent.png" alt="10%" />
      <img class="banner__image--ellipse" src="../img/10percent_ellipse.png" alt="10%" />
    </div>
  </div>
</div>

<div class="stats">
  <div class="stats__item">
    <span class="stats__number" data-target="10" data-start="0">10</span>
    <span class="stats__description">заводов поставщиков</span>
  </div>

  <div class="stats__item">
    <span class="stats__number" data-target="5978" data-start="5800">5978</span>
    <span class="stats__description">городов доставки</span>
  </div>

  <div class="stats__item">
    <div>
      <span class="stats__number" data-target="89" data-start="50">89</span
      ><span class="stats__number-sign">%</span>
    </div>
    <span class="stats__description">арендуют повторно</span>
  </div>

  <div class="stats__item">
    <div>
      <span class="stats__number" data-target="26000" data-start="20000">26000</span
      ><span class="stats__number-sign"> м²</span>
    </div>
    <span class="stats__description">аренда опалубки ежемесячно</span>
  </div>
</div>

<div class="promo">
  <p class="promo__text">
    Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие
    вопросы.
  </p>
  <button class="button promo__button">Заказать услугу</button>
</div>
