<div class="partners">
  <div class="partners__title">Нам доверяют</div>

  <div class="partners__content">
    <img class="partners__image" src="../img/logos/1.svg" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/2.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/3.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/4.svg" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/5.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/6.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/1.svg" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/2.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/3.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/4.svg" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/5.png" alt="partner-logo" />
    <img class="partners__image" src="../img/logos/6.png" alt="partner-logo" />
  </div>
</div>
