<div class="photo-objects">
  <div class="photo-objects__title">Наша опалубка на&nbsp;объектах у&nbsp;клиентов</div>

  <div class="photo-objects__content">
    <div class="photo-objects__content-row photo-objects__content-row_top">
      <div class="photo-objects__item">
        <img class="photo-objects__item-img" src="../img/photos/1.jpg" alt="" />
      </div>

      <div class="photo-objects__item">
        <img class="photo-objects__item-img" src="../img/photos/2.jpg" alt="" />
      </div>

      <div class="photo-objects__item">
        <img class="photo-objects__item-img" src="../img/photos/3.jpg" alt="" />
      </div>
    </div>

    <div class="photo-objects__content-row photo-objects__content-row_bottom">
      <div class="photo-objects__item">
        <img class="photo-objects__item-img" src="../img/photos/4.jpg" alt="" />
      </div>
      <div class="photo-objects__item">
        <img class="photo-objects__item-img" src="../img/photos/5.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
