<div class="prices">
  <div class="prices__title">Стоимость аренды опалубки и комплектующих</div>

  <div class="prices__content">
    <div class="prices__tabs">
      <div class="prices__tab-item">Опалубка стен и комплектующих</div>
      <div class="prices__tab-item">Перекрытий ХСИ</div>
      <div class="prices__tab-item">Перекрытий на телескопических стойках</div>
      <div class="prices__tab-item">Перекрытий Cup-lock</div>
    </div>

    <div class="prices__tab-content">
      <div class="prices__tab-content-wrapper">
        <div class="prices__tab-content-description">
          Точный расчёт стоимости аренды опалубки перекрытий на телескопических стойках можно
          выполнить с помощью онлайн-калькулятора.
        </div>

        <button class="button prices__button">Калькулятор</button>
      </div>

      <img class="prices__image" src="../img/price-item-1.png" alt="" />
    </div>
  </div>
</div>
