<div class="prices">
  <div class="prices__title">Стоимость аренды опалубки и&nbsp;комплектующих</div>

  <div class="prices__content">
    <div class="prices__tabs">
      <div class="prices__tab-item active">Опалубка стен и комплектующих</div>
      <div class="prices__tab-item">Перекрытий ХСИ</div>
      <div class="prices__tab-item">Перекрытий на телескопических стойках</div>
      <div class="prices__tab-item">Перекрытий Cup-lock</div>
    </div>

    <div class="prices__tab-target active">
      <div class="prices__tab-info">
        <div class="prices__tab-info-wrapper">
          <div class="prices__tab-info-description">
            Точный расчёт стоимости аренды опалубки перекрытий на телескопических стойках можно
            выполнить с помощью онлайн-калькулятора.
          </div>

          <button class="button prices__button">Калькулятор</button>
        </div>

        <img class="prices__image" src="../img/price-item-1.png" alt="" />
      </div>

      <div class="prices__tab-tables">
        <div class="prices__table">
          <div class="prices__table-title">Цены на телескопические стойки</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Размер стойки</div>
              <div class="flex-table__cell">Цена за месяц</div>
              <div class="flex-table__cell">Залог</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">1,65 м.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">2 м.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">4,1 м.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">4,2 м.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">4,9 м.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
              <div class="flex-table__cell"><b>150</b> руб.</div>
            </div>
          </div>
        </div>

        <div class="prices__table">
          <div class="prices__table-title">Технические характеристики</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Наименование</div>
              <div class="flex-table__cell">Высота min - max</div>
              <div class="flex-table__cell">Вес</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell">1,05 - 1,65 м</div>
              <div class="flex-table__cell">6,3 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell">1,05 - 1,65 м</div>
              <div class="flex-table__cell">6,3 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell">1,05 - 1,65 м</div>
              <div class="flex-table__cell">6,3 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell">1,05 - 1,65 м</div>
              <div class="flex-table__cell">6,3 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell">1,05 - 1,65 м</div>
              <div class="flex-table__cell">6,3 кг</div>
            </div>
          </div>
        </div>

        <div class="prices__table">
          <div class="prices__table-title">Цены на комплектующие</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Наименование</div>
              <div class="flex-table__cell">Цена за месяц</div>
              <div class="flex-table__cell">Залог</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Тренога</div>
              <div class="flex-table__cell"><b>80</b> руб.</div>
              <div class="flex-table__cell"><b>80</b> руб.</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Унивилка</div>
              <div class="flex-table__cell"><b>40</b> руб.</div>
              <div class="flex-table__cell"><b>40</b> руб.</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Балка БДК-1</div>
              <div class="flex-table__cell"><b>80</b> руб.</div>
              <div class="flex-table__cell"><b>80</b> руб.</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Фанера ламинированая 18х1220х2440 мм</div>
              <div class="flex-table__cell"><b>750</b> руб.</div>
              <div class="flex-table__cell"><b>750</b> руб.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prices__tab-target">
      <div class="prices__tab-info">
        <div class="prices__tab-info-wrapper">
          <div class="prices__tab-info-description">
            <p>
              Для предоставления полной информации о стоимости аренды объёмной опалубки перекрытий
              ХСИ и комплектующих, а также технических показателях, ниже приведены таблицы, которые
              помогут вам легко ориентироваться в доступных опциях и выбрать наиболее подходящий
              вариант для ваших строительных нужд.
            </p>
            <p>
              Точный расчёт стоимости аренды опалубки перекрытий на телескопических стойках можно
              выполнить с помощью онлайн-калькулятора.
            </p>
          </div>

          <button class="button prices__button">Калькулятор</button>
        </div>

        <img class="prices__image" src="../img/price-item-2.png" alt="" />
      </div>

      <div class="prices__tab-tables">
        <div class="prices__table">
          <div class="prices__table-title">Цены на объемную опалубки ХСИ</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Наименование</div>
              <div class="flex-table__cell">Цена за месяц</div>
              <div class="flex-table__cell">Залог</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Ригель</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Стойка</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Домкрат</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Унивилка</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>60</b> руб. / пог. м</div>
            </div>
          </div>
        </div>

        <div class="prices__table">
          <div class="prices__table-title">Технические характеристики</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Наименование</div>
              <div class="flex-table__cell">Значение</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Высота перекрытия</div>
              <div class="flex-table__cell">01 - 40 м</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Размеры стоек</div>
              <div class="flex-table__cell">1,0; 1,5; 2,0; 2,4 м</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Нагрузка на ось</div>
              <div class="flex-table__cell">2 700 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Нагрузка на ригель</div>
              <div class="flex-table__cell">1 200 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Нагрузка на домкрат</div>
              <div class="flex-table__cell">3 000 кг</div>
            </div>
            <div class="flex-table__row">
              <div class="flex-table__cell">Размер домкратов</div>
              <div class="flex-table__cell">0,6; 0,85; 1,2 м</div>
            </div>
          </div>
        </div>

        <div class="prices__table">
          <div class="prices__table-title">Цены на комплектующие</div>

          <div class="flex-table">
            <div class="flex-table__row flex-table__header">
              <div class="flex-table__cell">Наименование</div>
              <div class="flex-table__cell">Цена за месяц</div>
              <div class="flex-table__cell">Залог</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Балка БДК-1</div>
              <div class="flex-table__cell"><b>80</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>80</b> руб. / пог. м</div>
            </div>

            <div class="flex-table__row">
              <div class="flex-table__cell">Фанера ламинированая 18х1220х2440 мм</div>
              <div class="flex-table__cell"><b>250</b> руб. / пог. м</div>
              <div class="flex-table__cell"><b>250</b> руб. / пог. м</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prices__mobile-buttons">
      <button class="button prices__button">Калькулятор</button>
      <button class="button button_secondary">Скачать прайс</button>
    </div>
  </div>
</div>
