<div class="request">
  <div class="request__content">
    <div class="request__title">Не нашли ответ на вопрос?</div>

    <div class="request__description">
      Оставьте заявку и специалист свяжется с вами в течение нескольких минут
    </div>

    <div class="request__buttons">
      <input type="tel" class="request__phone" placeholder="Телефон" />
      <button class="button request__button">Заказать звонок</button>
    </div>

    <div class="request__notice">
      Нажимая кнопку, вы соглашаетесь с
      <a
        href="https://enkimsk.ru/company/politika-konfidencialnosti/"
        target="_blank"
        class="request__link"
      >
        политикой конфиденциальности
      </a>
    </div>
  </div>

  <img class="request__image" src="../img/yellow-phone.png" alt="phone" />
</div>
