<div class="steps">
  <div class="steps__title">Всего 5 шагов для заказа опалубки</div>

  <div class="steps__item">
    <div class="steps__item-label">шаг</div>
    <div class="steps__item-content">
      <div class="steps__item-number">01</div>
      <div class="steps__item-title">
        Консультация&nbsp;и&nbsp;подготовка коммерческого предложения
      </div>
    </div>
  </div>

  <div class="steps__item">
    <div class="steps__item-label">шаг</div>
    <div class="steps__item-content">
      <div class="steps__item-number">02</div>
      <div class="steps__item-title">Подписание договора</div>
    </div>
  </div>

  <div class="steps__item">
    <div class="steps__item-label">шаг</div>
    <div class="steps__item-content">
      <div class="steps__item-number">03</div>
      <div class="steps__item-title">Оплата и выдача опалубки</div>
    </div>
  </div>

  <div class="steps__item">
    <div class="steps__item-label">шаг</div>
    <div class="steps__item-content">
      <div class="steps__item-number">04</div>
      <div class="steps__item-title">Возврат оборудования</div>
    </div>
  </div>

  <div class="steps__item">
    <div class="steps__item-label">шаг</div>
    <div class="steps__item-content">
      <div class="steps__item-number">05</div>
      <div class="steps__item-title">Окончательный расчёт периода аренды</div>
    </div>
  </div>
</div>
