@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.eot');
  src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('../fonts/Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../fonts/ProximaNova-Black.eot');
  src: local('../fonts/Proxima Nova Black'), local('ProximaNova-Black'),
    url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Black.woff') format('woff'),
    url('../fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: local('../fonts/Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
