@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'vars';

html {
  scroll-behavior: smooth;
}

.button {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fefeff;
  padding: 8px 18px;
  background: #365edc;
  border-radius: 6px;
  border-color: transparent;
  white-space: nowrap;
  height: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &_secondary {
    background: transparent;
    border: 1px solid #365edc;
    color: #222222;
  }
}

@import 'layouts';

@import 'media';
