.about {
  margin-top: 92px;

  &__content {
    display: grid;
    gap: 44px 30px;
    grid-template-areas:
      'item1 item2 item3'
      'video video item4'
      'video video item5';
  }

  &__content-item {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #222222;
    position: relative;
    grid-area: item;

    &:nth-child(1) {
      grid-area: item1;
    }

    &:nth-child(2) {
      grid-area: item2;
    }

    &:nth-child(3) {
      grid-area: item3;
    }

    &:nth-child(4) {
      grid-area: item4;
    }

    &:nth-child(5) {
      grid-area: item5;
    }

    &::before {
      content: '';
      position: absolute;
      top: -14px;
      width: 60px;
      height: 3px;
      background: #ffcc00;
    }
  }

  &__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 24px;
    color: #222222;
    margin-bottom: 75px;
  }

  &__video {
    grid-area: video;
    border: none;
    border-radius: 6px;
    margin-top: -4px;
    width: 100%;
    height: calc(100% + 30px);
    position: relative;
    top: -10px;
  }
}
