.calculation-formwork {
  margin-top: 119px;

  &__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 24px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
  }

  &__description {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 40px;
    max-width: 800px;
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 60px;
  }

  &__advantages-item {
    padding: 20px 20px 0;
    background: #f4f6fc;
    border-radius: 6px;
  }

  &__advantages-icon {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: 2px;
  }

  &__advantages-title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 10px;
    max-width: 205px;
  }

  &__advantages-description {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #5e6066;
    margin-bottom: 20px;
  }

  &__order {
    display: flex;
    padding: 20px;
    background: #f4f6fc;
    border-radius: 6px;
    flex-direction: column;
    position: relative;
  }

  &__order-title {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin: 30px 0;
  }

  &__order-button {
    width: fit-content;
  }

  &__order-image {
    max-width: 140px;
    position: absolute;
    bottom: -23px;
    right: -18px;
  }
}
