.custom-object {
  display: flex;
  border-radius: 12px;
  background: #f4f6fc;
  padding: 0 40px;
  position: relative;
  max-height: 390px;

  &__content {
    padding-top: 40px;
  }

  &__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 36px;
    line-height: 130%;
    color: #222222;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  &__description {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 43px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 270px;
  }

  &__button {
    padding: 18px;
  }

  &__image {
    position: relative;

    &--draft {
      max-height: 390px;
      position: relative;
      left: 22px;
    }

    &--helmet {
      position: absolute;
      bottom: -90px;
      right: -56px;
      z-index: 1;
    }
  }
}
