.partners {
  overflow: hidden;
  margin-top: 122px;

  &__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 24px;
    color: #222222;
    margin-bottom: 87px;
  }

  &__image {
    object-fit: contain;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    will-change: transform;
    animation: marquee 20s linear infinite running;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-109.3%);
  }
}
