.prices {
  margin-bottom: 120px;

  &__image {
    max-width: 326px;
  }

  &__mobile-buttons {
    display: none;

    & .button {
      display: block;
      width: 100%;
      max-width: inherit;
      height: 56px;
    }

    & .button_secondary {
      color: var(--white_text_black);
    }
  }

  &__button {
    max-width: 237px;
  }

  &__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 24px;
    color: var(--white_text_black);
    margin-bottom: 60px;
  }

  &__tabs {
    display: flex;
    gap: 18px 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__tab-info {
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
    grid-template-columns: 1fr 325px + 90px;
  }

  &__tab-info-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__tab-info-description {
    margin-bottom: 30px;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: var(--white_text_black);
  }

  &__tab-tables {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__tab-item {
    background: #f4f6fc;
    border-radius: 6px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 20px;
    line-height: 130%;
    padding: 11px 10px;
    color: #222;
    width: max-content;
    cursor: pointer;
    user-select: none;

    &.active {
      color: #365edc;
      cursor: default;
    }
  }

  &__table-title {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #5e6066;
    margin-bottom: 16px;
    padding-left: 10px;
  }

  &__tab-target {
    display: none;

    &.active {
      display: block;
    }
  }
}

.flex-table {
  display: flex;
  flex-wrap: wrap;

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
  }

  &__cell {
    flex: 1;
    padding: 0 10px;
    margin: 8px 0;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: var(--white_text_black);

    &:not(:last-child) {
      border-right: 1px solid #d9d9d9;
    }

    b {
      font-family: 'Proxima Nova Bold', sans-serif;
    }
  }

  &__header {
    font-family: 'Proxima Nova Semibold', sans-serif;
    background-color: #f4f6fd;
    color: #5e6066;
    border: none;

    .flex-table__cell {
      border: none;
      color: #222;
      font-family: 'Proxima Nova Semibold', sans-serif;
      font-size: 14px;
      margin: 4px 0;
    }
  }
}
