.promo {
  background: #f4f6fc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  &__text {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    max-width: 642px;
    margin: 0;
    color: #222;
    padding-right: 20px;

    &_discount {
      text-transform: uppercase;
    }

    &_blue {
      color: #365edc;

      b {
        font-family: 'Proxima Nova Black', sans-serif;
      }
    }
  }
}
