.promo {
  background: #f4f6fc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  &__text {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    max-width: 642px;
    margin: 0;
    color: #222222;

    &_blue {
      font-weight: 900;
      color: #365edc;
    }
  }
}
