.stats {
  margin: 50px 0;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    &:not(:last-child) {
      border-right: 1px solid #eaeaea;
      padding-right: 30px;
    }
  }

  &__number {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: var(--white_text_black);
  }

  &__number-sign {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: var(--white_text_black);
  }

  &__description {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white_text_black);
    text-align: center;
  }
}
